* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    transition: .5s all;
}

$colorPrincipal:  #2B2B2B;
$colorSecundario: #DB9B4A;

@font-face {
    font-family: Bondriand;
    src: url(../fonts/Bondrians.otf);
}
@font-face {
    font-family: MarkBold;
    src: url(../fonts/Mark-Black.ttf);
}

@mixin btnRikatas {
    background-color: $colorSecundario;
    color: #2B2B2B;
    padding: .5em 2em;
}

h1, h2, h3, h4, thead tr th, span, a {
    font-family: Bondriand;
}
p, article, tbody tr td {
    font-family: MarkBold;
}
.mainCentral {
    width: 1080px;
    margin: 0 auto;
    margin-top: 3em;
}
header {
    background-color: $colorPrincipal;
    text-align: center;
    padding: 2em;
    box-sizing: content-box;
    .contentLogo {
        figure {
            img {
                max-width: 200px;
            }
        }
    }
    .contentHeader {
        text-transform: uppercase;
        color: whitesmoke;
        h1 {
            padding: 1em;
        }
        span {
            font-size: 2em;
        }
    }
}
.mainPrecios {
    .containerPrecios {
        .table_precios {
            width: 100%;
            text-align: center;
            thead {
                text-align: center;
                margin: 0 auto;
                tr {
                    background-color: #DB9B4A;
                    text-transform: uppercase;
                    font-size: 1.5em;
                    th {
                        padding: .5em 1em;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 1em 2em;
                        text-transform: uppercase;
                    }
                    td:last-child {
                        color: #DB9B4A;
                        font-weight: bold;
                    }
                }
                tr:nth-child(odd) {
                    background-color: #ededed;
                }
                tr:nth-child(even) {
                    background-color: #ffffff;
                }
            }
        }
    }
}

footer {
    background-color: #2B2B2B;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .contentSocialMedia {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Create Product

.containerFormCreate {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    box-sizing: content-box;
    .contentHeaderCreate {
        background-color: #2B2B2B;
        color: white;
        height: 100%;
        padding: 5em;
        h1 {
            padding: 1em 0;
            font-size: 2em;
        }
        p {
            padding: 1em 0;
        }
    }
    form {
        background-color: rgb(232, 232, 232);
        width: 70%;
        padding: 2em 5em;
        input, select {
            display: block;
            padding: .5em 1em;
            border: none;
            border-bottom: 1em;
            margin: 1em 0;
            width: 100%;
        }
        input::focus {
            border: 1px solid $colorSecundario
        }
        input::placeholder {
            text-transform: uppercase;
            color: $colorPrincipal;
        }
        input[type="submit"] {
            background-color: $colorSecundario;
            color: #2B2B2B; 
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #2B2B2B;
            color: #DB9B4A;
        }
    }
}

.containerButton {
    text-align: center;
    padding: 1em;
    margin: 1em;
    a {
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        @include btnRikatas();
        font-size: 1.2em;
    }
    a:hover {
        background-color: $colorPrincipal;
        color: $colorSecundario;
    }
}